<div class="header">
    <div>
        <input
            type="text"
            placeholder="Search Country"
            [(ngModel)]="filterInput"
        />
    </div>
    <div>
        <select name="Sort options" (change)="sortBy($event.target.value)">
            <option value="" selected disabled hidden>Sort</option>
            <option value="cases">Sort by Case</option>
            <option value="deaths">Sort by Deaths</option>
            <option value="recovered">Sort by Recovered</option>
        </select>
    </div>
</div>

<div class="container">
    <table class="sidetable maxWidth">
        <thead>
            <tr>
                <th>
                    COUNTRY
                </th>
                <th>
                    CASES
                </th>
                <th>
                    DEATHS
                </th>
                <th>
                    RECOVERED
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of coronaCountryData | filter: filterInput">
                <td>{{ country.country }}</td>
                <td>{{ country.cases }}</td>
                <td>{{ country.deaths }}</td>
                <td>{{ country.recovered }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="piediv" class="pie"></div>
