<div class="container">
    <div class="inputContainer">
        <label class="formLabel">Ülke Ara</label>
        <input type="text" class="formInput" />
    </div>
    <app-sidelist mode="extended"></app-sidelist>

    <div class="c2">
        <div class="row">
            <input type="text" placeholder="Tarih Seçimi" />
            <input type="text" placeholder="Ölüm Sayısı" />
        </div>

        <div class="row">
            <input type="text" placeholder="Vaka Sayısı" />
            <input type="text" placeholder="İyileşen Sayısı" />
            <button>Kaydet</button>
        </div>

        <table class="infotable">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Vaka</th>
                    <th>Ölüm</th>
                    <th>İyileşme</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>21.07.2020</td>
                    <td>5000</td>
                    <td>3000</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>20.07.2020</td>
                    <td>4000</td>
                    <td>3000</td>
                    <td>1000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
