<div class="container">
    <app-sidelist></app-sidelist>
    <div class="mapContainer">
        <div class="mapHeader">
            <h3>
                <strong>{{ countryName }} Total Case Count</strong>
            </h3>
            <button (click)="getWorldwideData()">
                Return to Worldwide
            </button>
        </div>
        <div class="coronaInfo">
            <div>
                <p>Total Case Count</p>
                <strong>{{ coronaHistoricalData?.cases | number }}</strong>
            </div>
            <div>
                <p>Death Cases</p>
                <strong>{{ coronaHistoricalData?.deaths | number }}</strong>
            </div>
            <!-- <div>
                <p>Active Cases</p>
                <strong>{{
                    coronaHistoricalData.cases -
                        (coronaHistoricalData.deaths +
                            coronaHistoricalData.recovered) | number
                }}</strong>
            </div> -->
            <div>
                <p>Recovered</p>
                <strong>{{ coronaHistoricalData?.recovered | number }}</strong>
            </div>
        </div>
        <app-world-map class="map"></app-world-map>
        <app-line-chart></app-line-chart>
    </div>
</div>
