.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rebeccapurple;
    padding: 0.5rem;
    z-index: 1;
}

.link {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}
.link:hover {
    color: #0affbb;
}

ul {
    display: flex;

    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.leftSide {
    display: flex;
}

.leftSide > li {
    margin-right: 2rem;
}

.active {
    color: #0affbb;
}
