.container {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin: auto;
}

.inputContainer {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 1px 0 10px 2px plum;
    margin-bottom: 0.3rem;
}

.countryFilter {
    text-indent: 4px;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
}

.header {
    display: flex;
    padding: 1rem;
}

.header > strong {
    flex: 1;
    margin-right: 1rem;
}

.countryTable {
    overflow: auto;
    max-height: 25rem;
    margin: 0;
    padding: 0;
}

.countryInfo {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid plum;
    cursor: pointer;
}

.countryInfo:hover {
    background-color: #dda0dd41;
}

.countryInfo > div {
    flex: 1;
    margin-right: 1rem;
}

.countryInfo > div:nth-child(2) {
    color: red;
}
.countryInfo > div:nth-child(3) {
    color: grey;
}
.countryInfo > div:nth-child(4) {
    color: green;
}
